################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

obj
bin
.vs
/AppBuilder/appsettings.json
/Crosslink/appsettings.json
/bfg-1.15.0.jar
/secrets.txt
/embeddings
/parts
/tempstore
