################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

obj
bin
.vs
/AppBuilder/appsettings.json
/Crosslink/appsettings.json
/bfg-1.15.0.jar
/secrets.txt
/embeddings
/parts
/tempstore
/build_errors.log
/roles/stakeholder
/roles/docwriter
/teamdocumenten
/teamstore
/roles/projectmanager
/tasks
/Windows/appsettings.json
/Windows/googleaccount.json
/Windows/googleads.yaml
/Windows/googleaccount - Copy.json
/Windows/social-media-hulp-08ca11b4f492.json
