*.DS_Store
*.log
*.log.*
__MACOSX/
.idea/
.vscode/
node_modules/
dist/
build/
harmonizerdist/
harmonizerbuild/
*local.settings.json
.DS_Store
appsettings.json
/.vs
/bin/Debug/net6.0-windows
/obj
/DevGPTConsole/bin/Debug/net8.0
/DevGPTConsole/obj
